.dashboard {
    width: 50%;
    margin: 10rem auto;

    h2 {
        color: #0e93aa;
        font-weight: bold;
        margin-bottom: 1rem;
    }
}

.table {
    padding: 15px;
    border: 1px solid #fefefe;
    box-shadow: 1rem 1rem 1rem 1rem #cdcdcd;
    border-radius: 15px !important;
}