<div class="container dashboard">

    <h2>Pacientes Cadastrados: {{pacientes.length}}    </h2>
    <table class="table  table-striped">

        <thead>
            <tr>
                <th scope="col">Nome</th>
                <th scope="col">Data de Nascimento</th>
                <th scope="col">sexo</th>
                <th scope="col">nacionalidade</th>
                <th scope="col">telefone</th>
                <th>Ficha</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let paciente of pacientes">
                <td>{{paciente.nome}}</td>
                <td>{{paciente.data}}</td>
                <td>{{paciente.sexo}}</td>
                <td>{{paciente.nacionalidade}}</td>
                <td>{{paciente.telefone}}</td>
                <th>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-caret-down" viewBox="0 0 16 16">
                        <path
                            d="M3.204 5h9.592L8 10.481 3.204 5zm-.753.659 4.796 5.48a1 1 0 0 0 1.506 0l4.796-5.48c.566-.647.106-1.659-.753-1.659H3.204a1 1 0 0 0-.753 1.659z" />
                    </svg>
                </th>
            </tr>

        </tbody>


    </table>
</div>